/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBanner h2 {
  font-size: 38px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen {
  width: 471px;
  height: 358px;
}


