.features {
  display: flex;
  align-items: center;
  padding: 2.5rem 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}

.feature { 
  background: white;
  padding-bottom: 70px;
  padding-top: 35px;
  padding-right: 5px;
  box-shadow: 0 0.2rem 1.25rem 0 rgb(0 0 0 / 7%);
  width: 98%;
  height: 75%;

}

.feature a {
  font-weight: bold;
  color: black;
  font-size: 1.25rem;
}

.feature p {
  font-size: 1rem;
  color: black;
}

html[data-theme='dark'] .feature {
  background: #18191a;
  box-shadow: 0 0.2rem 1.25rem 0 rgb(255 255 255 / 7%);
  
}

html[data-theme='dark'] .feature a {
  color: white;
}

html[data-theme='dark'] .feature p {
  color: white;
}

.feature svg {
  font-size: 20px;
}


